@charset "UTF-8";
@namespace "http://www.w3.org/1999/xhtml";
@namespace epub "http://www.idpf.org/2007/ops";

body {
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 130%;
    text-align: justify;
    background-color: rgb(255, 255, 245);
}

div {
    margin: 0px;
    padding: 0px;
    line-height: 130%;
    text-align: justify;
}

p {
    text-align: justify;
    text-indent: 2em;
    line-height: 130%;
    margin-bottom: -0.8em;
}

.divimage {
    page-break-after: always;
}

.cover {
    width: 100%;
    padding: 0px;
}

.center {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

.left {
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
}

.right {
    text-align: right;
    margin-left: 0%;
    margin-right: 0%;
}

.quote {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

.hidden {
    display: none;
}

h1 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

h2 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

h3 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: large;
}

h4 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: medium;
}

h5 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: small;
}

h6 {
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
}
